<div>
    <div class="row">
        <h1>API Operations</h1>
    </div>
    <div class="row">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="" ng-click="azure.getProfile()">Profile</a></li>
            <li role="presentation"><a href="" ng-click="azure.getGroups()">User groups</a></li>
        </ul>
    </div>

    <div style="margin-top:50px;">
        <ui-view></ui-view>
    </div>
</div>

<!-- <div class="row">
    <button  ng-if="userInfo.isAuthenticated" class="btn btn-primary">Get Users</button>
</div>

<div class="row">
    <button ng-click="home.getToken()" ng-if="userInfo.isAuthenticated" class="btn btn-primary">Get Token</button>
</div> -->